h1{
    color: blue;
    border-bottom: 1px solid black;
}

p{
    font-size: 20px;
    color: blueviolet;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

